@charset "UTF-8";

/* Fonts */

/* devanagari */

@font-face {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../files/fonts/Hind/devanagari-600.woff2") format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}

/* latin-ext */

@font-face {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../files/fonts/Hind/latin-ext-600.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../files/fonts/Hind/latin-600.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/cyrillic-ext.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/cyrillic.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/greek-ext.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/greek.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../files/fonts/Roboto/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/cyrillic-ext-500.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/cyrillic-500.woff2") format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/greek-ext-500.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/greek-500.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/vietnamese-500.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/latin-ext-500.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../files/fonts/Roboto/latin-500.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

picture,
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Mixins */

/* Максимальная ширина контейнера с контентом */

/* Media screen */

/* ui */

/*
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main.main {
	flex: 1;
}
*/

/*
body {
	background-color: #fff;
	color: #000;
	font-family: 'Geometria', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 132.781%;
	margin: 0;

	&._lock {
		overflow: hidden;
	}

	p:not(:last-child) {
		margin-bottom: 18px;
	}

	a {

		&:hover {
			color: #045FBC !important;
		}
	}
}
*/

/*
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 44px;
	margin-top: auto;
	position: relative;
	z-index: 3;

	@include media-max-991 {
		margin-bottom: 25px;
	}
	@include media-max-660 {
		margin-bottom: 16px;
	}

	&__item {
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.015em;
		list-style: none;
		letter-spacing: 0.235em;
		position: relative;

		@include media-max-660 {
			font-size: 9px;
			line-height: 16px;
		}

		&:not(:last-child) {

			&::after {
				bottom: 1px;
				color: #fff;
				content: "/";
				display: inline-block;
				left: -4px;
				margin: 0 3px 0 -1px;
				position: relative;
				transform: rotate(144deg);
				top: 3px;
				width: 11px;
			}
		}
	}
	&__link {
		color: #fff;
	}
	&__name {
		color: #fff;
	}
}
*/

.blog {
  color: #7E8B98;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.n_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-left: 40px;
  padding-right: 40px;
}

/*
.page__head {
	overflow: hidden;
	padding-bottom: 83px;
	padding-top: 83px;

	@include media-max-575 {
		padding-bottom: 50px;
		padding-top: 50px;
	}

	h1 {

		span {
			//font-size: 161.28px;
			@include adaptive-value("font-size", 161.28, 46, 1);
			line-height: 100%;
			margin-left: 60px;
			margin-right: 60px;
			text-transform: uppercase;

			@include media-max-575 {
				margin-left: 25px;
				margin-right: 25px;
			}
		}
	}
}
*/

/*
.n_sec-title {
	font-size: 103.824px;
	line-height: 100%;
	max-width: 850px;
	text-transform: uppercase;

	@include media-max-1600 {
		font-size: 90px;
	}
	@include media-max-1366 {
		font-size: 76px;
		max-width: 750px;
	}
	@include media-max-1280 {
		font-size: 62px;
		max-width: 590px;
	}
	@include media-max-1100 {
		font-size: 50px;
		max-width: 500px;
	}
	@include media-max-800 {
		font-size: 36px;
		max-width: 350px;
	}
	@include media-max-575 {
		font-size: 34px;
		max-width: 100%;
	}
}
*/

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
}

/*
.page__title {
	@include adaptive-value("font-size", 70, 28, 1);
	font-weight: 400;
	@include adaptive-value("line-height", 84, 34, 1);
}
*/

.n_object-fit {
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*
.n_btn {
	align-items: center;
	background-color: #21C677;
	cursor: pointer;
	font-family: 'Prosto One';
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.05em;
	min-width: 207px;
	padding: 13px 24px 11px;
	transition: all 0.3s ease 0s;
	text-align: center;
	text-transform: uppercase;

	@media (any-hover: hover) {
		&:hover {
			background-color: darken(#21C677, 8%);
		}
	}
}
*/

/*
.insights {

	&__progresBars {
		margin-top: 22px;

		@include media-max-720 {
			margin-bottom: 27px;
		}
	}
	&__progresBar {
      margin-bottom: 30px;

		@include media-max-720 {
			margin-bottom: 24px;
		}

		&.width-zero {

			.insights__progresBarFilling {
         	width: 0 !important;
			}

         .insights__progresBarPercent {
            opacity: 0;
         }
      }
	}
	&__wrap-title {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&.width-zero {

         .insights__progresBarPercent {
            opacity: 0;
         }
      }
	}
	&__progresBarName {
		font-size: 16.8px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.025em;
		margin: 0 0 7px;

		@include media-max-720 {
			font-size: 14px;
      	line-height: 18px;
		}
	}
	&__progresBarWrapFilling {
		background: rgba(144, 145, 156, 0.15);
      border-radius: 4px;
      height: 8px;
		font-size: 0;
	}
	&__progresBarFilling {
      background: linear-gradient(90deg, #D80A2D 0%, #7544DD 100%);
      border-radius: inherit;
      height: inherit;
      position: relative;
      transition: 3s;
	}
	&__progresBarPercent {
		font-size: 15.6px !important;
		font-weight: 600;
		line-height: 26px !important;
		text-align: right;
		letter-spacing: 0.015em;
      opacity: 1;
		margin-left: 15px;
      position: relative;
      transition: 0.3s;
      transition-delay: 0.3s;

		@include media-max-720 {
			font-size: 13px !important;
			line-height: 23px !important;
		}
	}
}
*/

/*
.block {

   &__item {
		border: 1px solid #ccc;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
   }

	&__text {
		overflow: hidden;
		padding: 0 29px 35px;

		ol,
		ul {
			margin-top: 35px;

			li {
				@include adaptive-value("font-size", 20, 19, 1);
				@include adaptive-value("line-height", 30, 29, 1);
				padding-left: 46px;
				position: relative;

				&:not(:last-child) {
					margin-bottom: 12px;
				}

				&::before {
					content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9H30V7H0V9Z' fill='%2321C677'/%3e%3c/svg%3e");
					margin-right: 15px;
					left: 0;
					position: absolute;
					top: 1px;
				}
			}
		}

		p {
			font-size: 18px;
			line-height: 27px;

			&:first-child {
				margin-top: 29px;
			}

			&:not(:last-child) {
				margin-bottom: 18px;
			}
		}
	}

	&__title {
		background: none;
		display: flex;
		justify-content: space-between;
		font-family: 'Prosto One';
		@include adaptive-value("font-size", 26, 20, 1);
		font-weight: 400;
      @include adaptive-value("line-height", 34, 26, 1);
		padding: 22px 28px;
		position: relative;
		text-align: left;
		width: 100%;

		&::after {
			background-color: #000;
			bottom: 0;
			content: "";
			display: block;
			height: 1px;
			left: 29px;
			opacity: 0;
			position: absolute;
			right: 29px;
			transition: 0.3s;
			width: auto;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}

		&._active {

			.block__title-cross {
				border-color: #21C677;

				&:before {
					background-color: #21C677;
				}
				&::after {
					height: 0;
				}
			}

			&::after {
				opacity: 1;
			}
		}

		&-cross {
			border: 1.5px solid #000;
			border-radius: 50%;
			display: block;
			height: 30px;
			font-size: 0;
			margin-left: 12px;
			position: relative;
			transition: 0.3s;
			top: 2px;
			min-width: 30px;

			&::before,
			&::after {
				background-color: #000;
				content: "";
				position: absolute;
				transition: 0.3s;
				width: 14px;
			}
			&::before {
				left: 50%;
				height: 1.5px;
				transform: translate(-50%, -50%);
				top: 50%;
				width: 14px;
			}
			&::after {
				left: 50%;
				height: 14px;
				transform: translate(-50%, -50%);
				top: 50%;
				width: 1.5px;
			}
		}
	}
}
*/

/*
.hn_select {
	position: relative;

	&.open {

		.hn_select {

			&__head {

				svg {
					transform: rotateX(-180deg);
				}
			}

			&__list {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__head {
		background-color: #fff;
		color: #1B1B1C;
		cursor: pointer;
		font-size: 18.168px;
		font-weight: 500;
		line-height: 160.787%;
		height: 40px;
		padding: 5px 20px 5px 0;
		position: relative;

		p {
			display: table;
			margin-right: 8px;
			padding-right: 27px;
			position: relative;

			.hn_select__headName {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -moz-box;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}

			.hn_select-head-counter {

				span {
					position: absolute;
					right: 0;
					top: 0;
					z-index: 1;
				}
			}
		}

		svg {
			height: 11px;
			position: absolute;
			right: 0;
			transition: 0.3s ease 0s;
			top: 15px;
			width: 16px;

			@include media-max-575 {
				top: 13px;
			}
		}
	}
	&__list {
		background-color: #fff;
		box-sizing: border-box;
		box-shadow: 0 5px 12px #e6e6e6;
		border-top: 20px solid #fff;
		list-style: none;
		left: 0;
		max-height: 264px;
		overflow-y: auto;
		padding: 8px 8px 0 15px;
		position: absolute;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
		top: 35px;
		width: 100%;
		z-index: 2;

		@include media-max-575 {
			max-height: 290px;
		}

		&::-webkit-scrollbar {
			width: 5px;
			background-color: #F8F9FA;
			padding: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #d8d8d8;
			border-radius: 8px;
		}
	}
}
*/

/*
.custom-checkbox {
	cursor: pointer;
	display: table;
	font-size: 16px;
	line-height: 14px;
	margin-bottom: 20px;
	padding-left: 30px;
	user-select: none;

	@include media-max-575 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 25px;
		padding-left: 35px;
	}
}
.custom-checkbox__input {
	clip: rect(0 0 0 0);
	height: 1px;
	position: absolute;
	overflow: hidden;
	width: 1px;
}
*/

/*
.custom-checkbox__box {
	background-color: #fff;
	box-shadow: 0 0 0 2px #1a7aea;
	border-radius: 2px;
	height: 15px;
	margin-left: -30px;
	position: absolute;
	width: 15px;

	@include media-max-575 {
		height: 18px;
		margin-left: -35px;
		width: 18px;
	}
}
*/

/* Checked */

/*
.custom-checkbox__input:checked + .custom-checkbox__box {
	background-color: #1a7aea;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280.000000 1253.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,1253.000000) scale(0.100000,-0.100000)' fill='%23fff' stroke='none'%3e%3cpath d='M12000 12520 c-192 -27 -395 -98 -655 -230 -446 -225 -961 -590 -1620 -1149 -926 -785 -2158 -2000 -3466 -3416 -661 -717 -1389 -1537 -1913 -2157 -87 -104 -159 -188 -160 -188 -1 0 -67 34 -146 76 -255 134 -875 442 -1078 536 -849 391 -1441 595 -1912 659 -134 18 -368 13 -479 -10 -224 -48 -405 -181 -495 -366 -52 -104 -69 -183 -70 -310 -1 -105 1 -113 32 -177 29 -59 55 -87 235 -254 438 -407 919 -904 1273 -1315 792 -921 1625 -2167 2579 -3858 168 -297 234 -355 405 -355 66 0 96 5 132 21 113 51 158 111 238 313 135 341 398 964 565 1335 1285 2866 2820 5295 4654 7365 520 587 971 1049 1821 1866 665 640 790 788 844 1005 81 328 -187 601 -604 614 -63 2 -144 0 -180 -5z'/%3e%3c/g%3e%3c/svg%3e");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}
*/

/* Focus */

/*
.custom-checkbox__input:focus + .custom-checkbox__box,
.custom-checkbox__input:checked:focus + .custom-checkbox__box {
	//box-shadow: 0 0 0 2px #1a7aea, 0 0 0 4px #F3AC04;
}
*/

/* Disabled */

/*
.custom-checkbox__input:disabled + .custom-checkbox__box,
.custom-checkbox__input:checked:disabled + .custom-checkbox__box {
	opacity: 0.4;
}
*/

/* n Select */

/* n Lazy Loading */

/* n Spollers */

/* n Pop up */

/* n Classes */

/* Header */

/* Page - Home */

.blog__head {
  background: linear-gradient(180deg, #7A54B0 0%, #7255B8 100%);
  padding-top: 65px;
}

.blog__head h1,
.blog__head h2,
.blog__head h3,
.blog__head h4,
.blog__head h5,
.blog__head h6 {
  color: #fff;
  font-family: "Hind", sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 128.571%;
  margin: 0;
}

.blog__head p {
  color: #fff;
  font-size: 16px;
  line-height: normal;
  max-width: 557px;
  margin: 15px 0 34px;
}

.blog__head ul {
  display: flex;
  flex-wrap: wrap;
}

.blog__head ul li {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  line-height: normal;
  list-style: none;
  margin-top: 20px;
  padding-bottom: 7px;
  position: relative;
}

.blog__head ul li::after {
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: 0.3s ease 0s;
  width: 100%;
}

.blog__head ul li:hover::after,
.blog__head ul li.active::after {
  background-color: #FA2B65;
  margin-top: 14px;
}

.blog__head ul li.active::before {
  margin-right: 10px;
}

.blog__head ul li:not(:last-child) {
  margin-right: 35px;
}

.blog__head ul li a {
  color: inherit;
  text-decoration: none;
}

.blog__head ul li::before {
  margin-right: 3px;
  position: relative;
}

.blog__head ul li.all-posts::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12' fill='none'%3e%3cpath d='M13 5H0V7H13V5ZM13 0H0V2H13L13 0ZM0 12H9V10H0V12Z' fill='white'/%3e%3c/svg%3e");
}

.blog__head ul li.guides::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M14.456 11.4L13.736 12.136C13.16 12.712 12.8 13.2 12.8 14.4H11.2V14C11.2 13.112 11.56 12.312 12.136 11.736L13.128 10.728C13.424 10.44 13.6 10.04 13.6 9.6C13.6 8.712 12.88 8 12 8C11.5757 8 11.1687 8.16857 10.8686 8.46863C10.5686 8.76869 10.4 9.17565 10.4 9.6H8.8C8.8 8.75131 9.13714 7.93737 9.73726 7.33726C10.3374 6.73714 11.1513 6.4 12 6.4C12.8487 6.4 13.6626 6.73714 14.2627 7.33726C14.8629 7.93737 15.2 8.75131 15.2 9.6C15.2 10.304 14.912 10.936 14.456 11.4ZM12.8 17.6H11.2V16H12.8M12 4C10.9494 4 9.90914 4.20693 8.93853 4.60896C7.96793 5.011 7.08601 5.60028 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.08601 18.3997 7.96793 18.989 8.93853 19.391C9.90914 19.7931 10.9494 20 12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 7.576 16.4 4 12 4Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__head ul li.news::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M19.2 5.77778V18.2222H4.8V5.77778H19.2ZM19.2 4H4.8C3.801 4 3 4.79111 3 5.77778V18.2222C3 19.2089 3.801 20 4.8 20H19.2C20.199 20 21 19.2089 21 18.2222V5.77778C21 4.79111 20.199 4 19.2 4ZM17.4 14.6667H6.6V16.4444H17.4V14.6667ZM10.2 7.55556H6.6V12.8889H10.2V7.55556ZM12 9.33333H17.4V7.55556H12V9.33333ZM17.4 11.1111H12V12.8889H17.4V11.1111Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__head ul li.gambling::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M20 12C20 16.4218 16.4218 20 12 20C7.57818 20 4 16.4218 4 12C4 7.57818 7.57818 4 12 4C16.4218 4 20 7.57818 20 12ZM12.7273 6.22545C14.2764 6.42182 15.6873 7.23636 16.6327 8.48L17.8982 7.75273C16.6909 6.05091 14.8073 4.94545 12.7273 4.72727V6.22545ZM6.10182 7.75273L7.36727 8.48C8.31273 7.23636 9.72364 6.42182 11.2727 6.22545V4.72727C9.19273 4.94545 7.30909 6.05091 6.10182 7.75273ZM5.37455 14.9818L6.63273 14.2545C6.02909 12.8145 6.02909 11.1855 6.63273 9.74545L5.37455 9.01818C4.50909 10.9091 4.50909 13.0909 5.37455 14.9818ZM11.2727 17.7745C9.72364 17.5782 8.31273 16.7636 7.36727 15.52L6.10182 16.2473C7.30909 17.9491 9.19273 19.0545 11.2727 19.2727V17.7745ZM17.8982 16.2473L16.6327 15.52C15.6873 16.7636 14.2764 17.5782 12.7273 17.7745V19.2291C14.8 19.0182 16.6836 17.9345 17.8982 16.2473ZM18.6255 14.9818C19.4909 13.0909 19.4909 10.9091 18.6255 9.01818L17.3673 9.74545C17.9709 11.1855 17.9709 12.8145 17.3673 14.2545L18.6255 14.9818ZM14.1818 12L12 8.36364L9.81818 12L12 15.6364L14.1818 12Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__head ul li.games-ranking::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M12 7L17 12H14V16H10V12H7L12 7ZM21 16.5C21 16.88 20.79 17.21 20.47 17.38L12.57 21.82C12.41 21.94 12.21 22 12 22C11.79 22 11.59 21.94 11.43 21.82L3.53 17.38C3.21 17.21 3 16.88 3 16.5V7.5C3 7.12 3.21 6.79 3.53 6.62L11.43 2.18C11.59 2.06 11.79 2 12 2C12.21 2 12.41 2.06 12.57 2.18L20.47 6.62C20.79 6.79 21 7.12 21 7.5V16.5ZM12 4.15L5 8.09V15.91L12 19.85L19 15.91V8.09L12 4.15Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__head ul li.esports::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M15.5537 15.5649C17.2632 13.8501 18.1727 11.5776 18.2737 8.78986C17.3558 10.8258 16.0505 12.6843 14.3663 14.3738C12.6821 16.0634 10.8295 17.3728 8.79998 18.2936C11.5789 18.2175 13.819 17.3052 15.5537 15.5649ZM8.4463 8.43506C6.73682 10.1499 5.82734 12.4224 5.72629 15.2101C6.10523 14.3654 6.69471 13.3939 7.46103 12.2957C8.21051 11.1975 8.95156 10.3105 9.63367 9.62619C11.3179 7.93664 13.1705 6.62724 15.2 5.70644C12.4211 5.78247 10.181 6.69483 8.4463 8.43506ZM19.1579 4.81943C19.579 5.28406 19.8653 6.17951 19.9748 7.5227C20.0758 8.87434 19.8737 10.4456 19.36 12.2534C18.8463 14.0697 17.9874 15.5734 16.7748 16.7899C15.6716 17.9134 14.3579 18.7159 12.8421 19.2228C11.3347 19.7381 9.8442 20 8.37051 20C6.57682 20 5.40628 19.7212 4.84207 19.1806C4.42102 18.7159 4.1347 17.8205 4.02522 16.4773C3.92417 15.1257 4.12628 13.5544 4.63996 11.7466C5.15365 9.93031 6.0126 8.42661 7.22524 7.21014C8.3284 6.08659 9.64209 5.28406 11.1579 4.77719C12.6653 4.26188 14.1558 4 15.6295 4C17.4232 4 18.5937 4.27878 19.1579 4.81943Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__head ul li.nft::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M18.7653 7.82844L12.2347 4.06281C12.1633 4.02166 12.0824 4 12 4C11.9176 4 11.8367 4.02166 11.7653 4.06281L5.23468 7.82844C5.16333 7.86957 5.10407 7.92875 5.06288 8C5.02169 8.07126 5 8.15209 5 8.23437V15.7656C5 15.8479 5.02169 15.9287 5.06288 16C5.10407 16.0713 5.16333 16.1304 5.23468 16.1716L11.7653 19.9372C11.8367 19.9783 11.9176 20 12 20C12.0824 20 12.1633 19.9783 12.2347 19.9372L18.7653 16.1716C18.8367 16.1304 18.8959 16.0713 18.9371 16C18.9783 15.9287 19 15.8479 19 15.7656V8.23437C19 8.15209 18.9783 8.07126 18.9371 8C18.8959 7.92874 18.8367 7.86957 18.7653 7.82844ZM10.2405 13.5063C10.2405 13.7651 10.0303 13.975 9.7711 13.975H9.26836C9.1757 13.975 9.08511 13.9476 9.00801 13.8963C8.93091 13.8449 8.87075 13.772 8.83512 13.6865L7.97817 11.6325V13.5063C7.95508 14.1275 7.06234 14.1271 7.03947 13.5063V10.4937C7.03947 10.2349 7.24961 10.025 7.50882 10.025H8.01156C8.10422 10.025 8.19481 10.0524 8.27191 10.1037C8.34901 10.1551 8.40917 10.228 8.4448 10.3135L9.30175 12.3675V10.4937C9.32484 9.87247 10.2176 9.87294 10.2405 10.4937V13.5063ZM13.5082 10.9625H12V11.7823H13.0054C13.6275 11.8053 13.6271 12.6969 13.0054 12.7198H12V13.5063C11.9769 14.1275 11.0842 14.1271 11.0613 13.5063V10.4937C11.0613 10.2349 11.2714 10.025 11.5306 10.025H13.5082C14.1303 10.0481 14.1298 10.9397 13.5082 10.9625ZM16.7759 10.9625H16.2398V13.5063C16.2167 14.1275 15.324 14.1271 15.3011 13.5063V10.9625H14.765C14.1429 10.9394 14.1434 10.0478 14.765 10.025H16.776C17.398 10.0481 17.3975 10.9397 16.7759 10.9625Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__head ul li.game-tips-cheats::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M20.4 5.04441L18.956 3.60041L17.876 2.51641C17.72 2.36041 17.464 2.36041 17.308 2.51641C17.152 2.67241 17.152 2.92841 17.308 3.08441L18.108 3.88441L16.352 5.63641L18.364 7.64841L20.116 5.89241L20.916 6.69241C20.996 6.76841 21.096 6.80841 21.2 6.80841C21.304 6.80841 21.404 6.76841 21.484 6.69241C21.64 6.53641 21.64 6.28041 21.484 6.12441L20.4 5.04441ZM2.80005 21.6004C2.90405 21.6004 3.00405 21.5604 3.08405 21.4844L5.68405 18.8804L6.48405 19.6804C6.56405 19.7564 6.66805 19.7964 6.76805 19.7964C6.87205 19.7964 6.97205 19.7564 7.05205 19.6804L7.64805 19.0844L4.91605 16.3524L4.32005 16.9484C4.16405 17.1044 4.16405 17.3604 4.32005 17.5164L5.12005 18.3164L2.51605 20.9164C2.36005 21.0724 2.36005 21.3284 2.51605 21.4844C2.59605 21.5604 2.69605 21.6004 2.80005 21.6004ZM8.65205 18.9564C8.68849 18.9945 8.73226 19.0248 8.78073 19.0455C8.8292 19.0662 8.88135 19.0768 8.93405 19.0768C8.98675 19.0768 9.0389 19.0662 9.08737 19.0455C9.13583 19.0248 9.17961 18.9945 9.21605 18.9564L18.3132 9.85921L18.7528 10.2988C18.7899 10.3361 18.834 10.3657 18.8825 10.3859C18.931 10.406 18.9831 10.4164 19.0356 10.4164C19.0882 10.4164 19.1403 10.406 19.1888 10.3859C19.2373 10.3657 19.2814 10.3361 19.3184 10.2988C19.3556 10.2617 19.3851 10.2176 19.4052 10.1691C19.4254 10.1206 19.4357 10.0685 19.4357 10.016C19.4357 9.96348 19.4254 9.91146 19.4052 9.86294C19.3851 9.81441 19.3556 9.77033 19.3184 9.73321L14.2672 4.68241C14.1922 4.60741 14.0905 4.56527 13.9844 4.56527C13.8784 4.56527 13.7767 4.60741 13.7016 4.68241C13.6266 4.75742 13.5845 4.85914 13.5845 4.96521C13.5845 5.07128 13.6266 5.17301 13.7016 5.24801L14.1412 5.68761L5.04405 14.7844C5.00697 14.8214 4.97755 14.8654 4.95747 14.9138C4.9374 14.9622 4.92707 15.014 4.92707 15.0664C4.92707 15.1188 4.9374 15.1707 4.95747 15.2191C4.97755 15.2675 5.00697 15.3114 5.04405 15.3484L8.65205 18.9564ZM12.82 8.42041C12.976 8.26441 13.232 8.26441 13.388 8.42041L13.996 9.02841C14.152 9.18441 14.152 9.43641 13.996 9.59241C13.916 9.67241 13.812 9.71241 13.712 9.71241C13.608 9.71241 13.508 9.67241 13.428 9.59241L12.82 8.98441C12.783 8.94741 12.7535 8.90345 12.7335 8.85506C12.7134 8.80667 12.7031 8.7548 12.7031 8.70241C12.7031 8.65003 12.7134 8.59815 12.7335 8.54976C12.7535 8.50138 12.783 8.45742 12.82 8.42041ZM11.408 9.83641C11.4451 9.79933 11.489 9.76991 11.5374 9.74984C11.5858 9.72977 11.6377 9.71944 11.69 9.71944C11.7424 9.71944 11.7943 9.72977 11.8427 9.74984C11.8911 9.76991 11.935 9.79933 11.972 9.83641L12.58 10.4404C12.736 10.5964 12.736 10.8524 12.58 11.0084C12.5051 11.0828 12.4037 11.1246 12.298 11.1246C12.1924 11.1246 12.091 11.0828 12.016 11.0084L11.408 10.4004C11.371 10.3634 11.3415 10.3195 11.3215 10.2711C11.3014 10.2227 11.2911 10.1708 11.2911 10.1184C11.2911 10.066 11.3014 10.0142 11.3215 9.96576C11.3415 9.91737 11.371 9.87342 11.408 9.83641ZM9.99205 11.2484C10.148 11.0924 10.4 11.0924 10.56 11.2484L11.164 11.8564C11.324 12.0124 11.324 12.2644 11.164 12.4204C11.088 12.5004 10.984 12.5404 10.884 12.5404C10.78 12.5404 10.68 12.5004 10.6 12.4204L9.99205 11.8164C9.83605 11.6564 9.83605 11.4044 9.99205 11.2484ZM8.58005 12.6644C8.61705 12.6273 8.66101 12.5979 8.7094 12.5778C8.75779 12.5578 8.80966 12.5474 8.86205 12.5474C8.91444 12.5474 8.96631 12.5578 9.0147 12.5778C9.06309 12.5979 9.10704 12.6273 9.14405 12.6644L9.75205 13.2724C9.80787 13.3283 9.84583 13.3995 9.8611 13.4769C9.87638 13.5544 9.86829 13.6347 9.83786 13.7076C9.80742 13.7804 9.75602 13.8426 9.69018 13.8862C9.62433 13.9298 9.54702 13.9528 9.46805 13.9524C9.36805 13.9524 9.26405 13.9164 9.18405 13.8364L8.58005 13.2284C8.54297 13.1914 8.51355 13.1475 8.49347 13.0991C8.4734 13.0507 8.46307 12.9988 8.46307 12.9464C8.46307 12.894 8.4734 12.8422 8.49347 12.7938C8.51355 12.7454 8.54297 12.7014 8.58005 12.6644ZM7.16405 14.0764C7.20105 14.0393 7.24501 14.0099 7.2934 13.9898C7.34179 13.9698 7.39366 13.9594 7.44605 13.9594C7.49844 13.9594 7.55031 13.9698 7.5987 13.9898C7.64709 14.0099 7.69104 14.0393 7.72805 14.0764L8.33605 14.6844C8.49205 14.8404 8.49205 15.0924 8.33605 15.2524C8.26105 15.3268 8.15969 15.3686 8.05405 15.3686C7.94841 15.3686 7.84704 15.3268 7.77205 15.2524L7.16405 14.6444C7.00805 14.4884 7.00805 14.2324 7.16405 14.0764Z' fill='white'/%3e%3c/svg%3e");
  top: 1px;
}

.blog__wrap-content {
  padding-bottom: 80px;
  padding-top: 36px;
}

.blog__wrap-content .n_container,
.blog__wrap-content .container {
  display: flex;
  flex-wrap: wrap;
}

.blog__content {
  padding-right: 24px;
  width: calc(100% - 308px);
}

.blogpost {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.blogpost a {
  text-decoration: none;
}

.blogpost__blockThumb {
  border-radius: 16px;
  height: 160px;
  overflow: hidden;
  min-width: 160px;
  position: relative;
}

.blogpost__blockThumb:hover img {
  transform: scale(1.16);
}

.blogpost__blockThumb img {
  border-radius: inherit;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transition: 0.5s ease 0s;
  top: 0;
  width: 100%;
}

.blogpost__info {
  padding-left: 24px;
  padding-top: 1px;
  width: calc(100% - 160px);
}

.blogpost__info h1,
.blogpost__info h2,
.blogpost__info h3,
.blogpost__info h4,
.blogpost__info h5,
.blogpost__info h6 {
  color: #212529;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.blogpost__info span {
  color: #7E8B98;
  display: table;
  font-size: 12px;
  line-height: 18px;
  margin-top: 7px;
}

.blogpost__info p {
  color: #7E8B98;
  font-size: 16px;
  line-height: 150%;
  margin-top: 17px;
}

.navigation.pagination {
  margin-top: 63px;
}

.navigation.pagination .screen-reader-text {
  display: none;
}

.navigation.pagination .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation.pagination .page-numbers:not(.dots) {
  align-items: center;
  background-color: rgba(126, 139, 152, 0.04);
  border: 1px solid rgba(126, 139, 152, 0.16);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  height: 36px;
  color: #212529;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  margin: 8px;
  padding: 5px;
  transition: 0.3s ease 0s;
  text-decoration: none;
  min-width: 36px;
}

.navigation.pagination .page-numbers:not(.dots):hover,
.navigation.pagination .page-numbers:not(.dots).current {
  background-color: #4E3F84;
  border-color: #4E3F84;
  color: #fff;
}

.navigation.pagination .page-numbers.current,
.navigation.pagination .page-numbers.dots {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navigation.pagination .page-numbers.dots {
  font-size: 18px;
  margin-left: 19px;
  margin-right: 19px;
  padding-top: 7px;
}

.sidebar {
  width: 308px;
}

.sidebar .widget {
  margin-bottom: 36px;
}

.sidebar .widget-title {
  color: #212529;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
}

.sidebar .widget ul li,
.sidebar .widget ul a,
.sidebar .widget ol li,
.sidebar .widget ol a {
  color: #212529;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  list-style: none;
}

.sidebar .widget ul li,
.sidebar .widget ol li {
  border-bottom: 1px solid rgba(126, 139, 152, 0.16);
  padding-bottom: 15px;
  padding-top: 16px;
}

.sidebar .widget ul li > a,
.sidebar .widget ol li > a {
  display: flex;
}

.sidebar .widget ul li .column:nth-child(1),
.sidebar .widget ol li .column:nth-child(1) {
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 48px;
  overflow: hidden;
  width: 48px;
}

.sidebar .widget ul li .column:nth-child(2),
.sidebar .widget ol li .column:nth-child(2) {
  padding-left: 16px;
}

.sidebar .widget ul li .column img,
.sidebar .widget ol li .column img {
  max-height: 100%;
  max-width: 100%;
}

.sidebar .widget ul li .column h4,
.sidebar .widget ol li .column h4 {
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.sidebar .widget ul li .column p,
.sidebar .widget ol li .column p {
  color: #4E3F84;
  font-size: 14px;
  line-height: normal;
  margin: 1px 0 0;
}

.sidebar .widget ul a,
.sidebar .widget ol a {
  text-decoration: none;
}

.sidebar .widget_popular_sites ul li {
  padding-bottom: 0;
  padding-top: 0;
}

.sidebar .widget_popular_sites a {
  padding-bottom: 15px;
  padding-top: 16px;
  transition: 0.3s ease 0s;
}

.sidebar .widget_popular_sites a:hover {
  background-color: rgba(126, 139, 152, 0.16);
  padding-left: 16px;
}

.sidebar .widget_recent_posts {
  margin-bottom: 21px;
}

.sidebar .widget_recent_posts ul li:last-child {
  border-bottom: none;
}

/* Footer */

@media screen and (max-width: 1024.98px) {
  .n_container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 960.98px) {
  .blog__content {
    width: calc(100% - 240px);
  }

  .sidebar {
    width: 240px;
  }
}

@media screen and (max-width: 800.98px) {
  .blog__head {
    padding-top: 40px;
  }

  .blog__head h1,
  .blog__head h2,
  .blog__head h3,
  .blog__head h4,
  .blog__head h5,
  .blog__head h6 {
    font-size: 48px;
  }

  .blog__content {
    padding-right: 0;
    width: 100%;
  }

  .sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    width: 100%;
  }

  .sidebar .widget {
    width: 50%;
  }

  .sidebar .widget:nth-child(odd) {
    padding-right: 15px;
  }

  .sidebar .widget:nth-child(even) {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .blog__head p {
    font-size: 15px;
    margin: 10px 0 25px;
  }

  .blog__head ul li {
    margin-top: 8px;
    padding-bottom: 1px;
  }

  .blog__head ul li:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 575.98px) {
  .n_container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog__head {
    padding-top: 30px;
  }

  .blog__head h1,
  .blog__head h2,
  .blog__head h3,
  .blog__head h4,
  .blog__head h5,
  .blog__head h6 {
    font-size: 42px;
  }

  .blog__head ul li:not(:last-child) {
    margin-right: 15px;
  }

  .navigation.pagination .page-numbers:not(.dots) {
    height: 32px;
    margin: 4px;
    line-height: 32px;
    min-width: 32px;
  }

  .navigation.pagination .page-numbers.dots {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 8px;
  }

  .sidebar .widget {
    width: 100%;
  }

  .sidebar .widget:nth-child(odd) {
    padding-right: 0;
  }

  .sidebar .widget:nth-child(even) {
    padding-left: 0;
  }

  .sidebar .widget_media_image a {
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
  }
}

@media screen and (max-width: 480.98px) {
  .blogpost {
    margin-bottom: 50px;
  }

  .blogpost__blockThumb {
    margin-left: auto;
    margin-right: auto;
  }

  .blogpost__info {
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
  }

  .blogpost__info a {
    display: table;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    text-align: center;
  }

  .blogpost__info h1,
  .blogpost__info h2,
  .blogpost__info h3,
  .blogpost__info h4,
  .blogpost__info h5,
  .blogpost__info h6 {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    text-align: center;
  }

  .blogpost__info span {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}