body._lock {
   overflow: hidden;
}

/* Container -> */

.blog__wrap-content .n_container,
.blog__wrap-content .container {
  display: flex;
  flex-wrap: wrap;
}

.n_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1024.98px) {
  .n_container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 575.98px) {
	.n_container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* <- Container */


/* Header */

.header {
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   z-index: 102;
}
.header__wrapper {
   background-color: #4E3F84;
   left: 0;
   position: fixed;
   transition: background-color 0.3s, transform 0.6s;
   top: 0;
   width: 100%;
   z-index: 50;
}
.header-container {
   align-items: center;
   display: flex;
   justify-content: space-between;
   height: 60px;
   position: relative;
   transition: height 0.3s;
}
.header__blockLogo {
   flex: 0 0 108px;
   position: relative;
   z-index: 6;
}
.header .select {
   background-color: transparent;
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: normal;
   margin-right: -15px;
   min-width: 67px;
   max-width: 67px;
   z-index: 5;
}
.header .select__current {
   align-items: center;
   display: flex;
}
.header .select__current img {
   margin-right: 8px;
}

.header .select__body {
   background-color: #4E3F84;
   border: none;
   padding-bottom: 8px;
   text-align: center;
   top: 30px;
}
.header .select__body .select__item.current-lang {
   display: none;
}


/* Top menu */

.header .menu {
   font-family: "Roboto", sans-serif;
   padding-bottom: 5px;
   width: 100%;
}
.header .menu a {
   text-decoration: none;
}
.header .menu__icon {
   display: none;
   font-size: 0;
}
.header .menu__list > li {
   position: relative;
}
.header .menu__link,
.header .menu__sub-link {
   transition: all 0.3s ease 0s;
}
.header .menu__sub-list li {
   list-style: none;
}
.header .menu__arrow {
   bottom: 1px;
   display: block;
   height: 10px;
   font-size: 0;
   overflow: hidden;
   margin-left: 10px;
   position: relative;
   transition: transform 0.3s ease 0s;
   width: 10px;
}
.header .menu__arrow svg {
   left: 0;
   max-width: 100%;
   position: absolute;
   top: 0;
}
.menu__sub-menu-big .sub-menu-big-title {
   align-items: center;
   border-radius: 8px;
   border: 1px solid rgba(126, 139, 152, 0.16);
   color: #212529;
   display: flex;
   justify-content: center;
   font-size: 16px;
   font-weight: 500;
   height: 43px;
   margin-bottom: 24px;
   padding: 0 15px;
   pointer-events: none;
   text-align: center;
   width: 189px !important;
   max-width: 100%;
}
.menu__sub-menu-big .sub-menu-big-title.current-menu-item,
.menu__sub-menu-big .sub-menu-big-title.current_page_item {
   color: #212529 !important;
}
.menu__sub-menu-big nav {
   width: 100%;
}
.menu__sub-menu-big ul {
   list-style: none;
}
.menu__sub-menu-big ul li {
   color: #212529 !important;
   font-size: 18px !important;
   line-height: 24px !important;
   transition: 0.3s ease 0s;
}
.menu__sub-menu-big ul li.current-menu-item,
.menu__sub-menu-big ul li.current_page_item {
   color: #FA2B65 !important;
}
.menu__sub-menu-big ul li:not(:last-child) {
   margin-bottom: 24px;
}
.list-blocks li:not(:last-child) {
   margin-bottom: 12px;
}
.list-blocks li a {
   align-items: center;
   border-radius: 12px;
   border: 1px solid rgba(126, 139, 152, 0.16);
   display: flex;
   padding: 16px;
   transition: 0.3s ease 0s;
}
.list-blocks__block-icon {
   align-items: center;
   background-color: #fff;
   border-radius: 8px;
   border: 1px solid rgba(126, 139, 152, 0.16);
   display: flex;
   height: 96px;
   flex-direction: column;
   justify-content: center;
   min-width: 96px;
}
.list-blocks__block-icon img,
.list-blocks__block-icon svg {
   max-height: 80%;
   max-width: 80%;
}
.list-blocks__block-info {
   padding-left: 22px;
}
.list-blocks__block-info h1,
.list-blocks__block-info h2,
.list-blocks__block-info h3,
.list-blocks__block-info h4,
.list-blocks__block-info h5,
.list-blocks__block-info h6 {
   border: none;
   color: #4E3F84;
   font-size: 16px;
   font-weight: 500;
   line-height: normal;
   height: auto;
   display: block;
   margin: 0;
   padding: 0;
   text-align: left;
   width: 100%;
}
.list-blocks__block-info p {
   color: #212529;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   margin: 9px 0 0;
}
.menu__sub-menu-item {
   width: 100%;
}

/* ------------------- */

body._touch .header .menu__list > li._active .menu__sub-list {
   top: calc(100% - 0px);
}
body._pc .header .menu__list > li:hover .menu__sub-list {
   opacity: 1;
   pointer-events: all;
   transform: perspective(400px) rotateX(0deg);
   visibility: visible;
}
body._touch .header .menu__list {
   flex: 1 1 auto;
}
body._pc .header .menu__arrow {
   display: none;
}
body._touch .header .menu__list > li.active-children-big .menu__arrow,
body._touch .header .menu__list > li._active .menu__arrow {
   transform: scale(1, -1);
}
#burger {
   cursor: pointer;
   height: 30px;
   margin-left: 30px;
   position: relative;
   transition-duration: 0.3s;
   min-width: 40px;
   max-width: 40px;
   z-index: 6;
}
#burger span {
   height: 4px;
   position: relative;
   top: 13px;
   width: 100%;
   background-color: #fff;
   border-radius: 20px;
   position: absolute;
   transition-duration: 0.15s;
   transition-delay: 0.15s;
}
#burger span:before {
   left: 0;
   position: absolute;
   top: -12px;
   height: 4px;
   width: 100%;
   background-color: #fff;
   content: "";
   border-radius: 20px;
   transition-duration: 0.25s;
   transition: transform 0.25s, top 0.25s 0.25s;
}
#burger span:after {
   left: 0;
   position: absolute;
   top: 12px;
   height: 4px;
   width: 100%;
   background-color: #fff;
   content: "";
   border-radius: 20px;
   transition-duration: 0.25s;
   transition: transform 0.25s, top 0.25s 0.25s;
}
#burger._active span {
   transition-duration: 0.1s;
   transition-delay: 0.25s;
   background: transparent;
}
#burger._active span:before {
   transition: top 0.25s, transform 0.25s 0.25s;
   top: 0px;
   transform: rotateZ(-45deg);
}
#burger._active span:after {
   transition: top 0.4s, transform 0.25s 0.25s;
   top: 0px;
   transform: rotateZ(45deg);
}
.menu-item-language .menu__arrow {
   display: none;
}
.menu-item-language .menu__sub-list {
   min-width: auto !important;
   width: 65px !important;
}

@media screen and (min-width: 721px) {

   .menu__sub-menu-big .menu__sub-menu-column {
      margin-left: 15px;
      margin-right: 15px;
      max-height: 100%;
      overflow-y: auto;
   }
   .menu__sub-menu-big .menu__sub-menu-column::-webkit-scrollbar {
      width: 4px;
   }
   .menu__sub-menu-big .menu__sub-menu-column::-webkit-scrollbar-thumb {
      background-color: rgb(218, 218, 218);
      border-radius: 24px;
   }
   .menu__sub-menu-big .menu__sub-menu-column:nth-child(1) {
      width: calc(50% - 30px);
   }
   .menu__sub-menu-big .menu__sub-menu-column:nth-child(2) {
      width: calc(50% - 30px);
   }
   .menu__sub-menu-items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -12px;
      margin-right: -12px;
      width: 100%;
   }
   .menu__sub-menu-items.four-column .menu__sub-menu-item {
      width: calc(25% - 24px);
   }
   .menu__sub-menu-item {
      margin-left: 12px;
      margin-right: 12px;
      overflow-y: auto;
      width: calc(33.3333% - 24px);
   }
}

@media screen and (min-width: 1025px) {

   .menu__sub-menu-big .menu__sub-menu-column:nth-child(1) {
      width: calc(64% - 30px);
   }
   .menu__sub-menu-big .menu__sub-menu-column:nth-child(1) ul {
      list-style-position: inside;
      -moz-column-count: 2;
      /* Firefox */
      /* Safari and Chrome */
      column-count: 2;
   }
   .menu__sub-menu-big .menu__sub-menu-column:nth-child(2) {
      width: calc(36% - 30px);
   }
}

@media screen and (min-width: 1100px) {

   body.open-big-menu main.main::after {
      background: rgba(33, 37, 41, 0.36);
      opacity: 1;
   }
   main.main {
      position: relative;
   }
   main.main::after {
      background: transparent;
      bottom: 0;
      content: "";
      left: 0;
      height: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      pointer-events: none;
      transition: 0.3s ease 0s;
      top: 0;
      width: 100%;
   }
   .menu__sub-menu-big {
      background-color: #fff;
      border-top: 12px solid #4e3f84;
      display: flex;
      flex-wrap: wrap;
      height: 633px;
      opacity: 0;
      max-height: calc(100dvh - 80px);
      margin-left: -15px;
      margin-right: -15px;
      padding: 36px 36px 20px;
      pointer-events: none;
      transition: 0.3s ease 0s;
      visibility: hidden;
   }
   .menu__sub-menu-item {
      max-height: 100%;
   }
   .menu__sub-menu-item::-webkit-scrollbar {
      width: 4px;
   }
   .menu__sub-menu-item::-webkit-scrollbar-thumb {
      background-color: rgb(218, 218, 218);
      border-radius: 24px;
   }
   body._touch .header .menu__list > li {
      align-items: center;
      display: flex;
   }
   body._touch .header .menu__list > li._active .menu__sub-list {
      opacity: 1;
      pointer-events: all;
      transform: translate(0, 0);
      visibility: visible;
   }
   #burger {
      display: none;
   }
}
 
@media (min-width: 1100px) {

   .header .menu {
      margin-top: 5px;
   }
   .header .menu__item:nth-child(2) {
      display: none;
   }
   .header .menu__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
   }
   .header .menu__list > li {
      position: relative;
   }
   .header .menu__list li {
      color: #fff;
   }
   .header .menu__list li.current-menu-item,
   .header .menu__list li.current_page_item {
      color: #FA2B65;
   }
   .header .menu__list li a {
      color: inherit !important;
   }
   .header .menu__list > li {
      align-items: center;
      display: flex;
      font-size: 16px;
      line-height: normal;
      font-weight: 400;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 8px;
      padding-top: 8px;
      position: relative;
   }
   .header .menu__list > li:first-child {
      margin-left: 0;
   }
   .header .menu__list > li:last-child {
      margin-right: 0;
   }
   .header .menu__list > li.menu-item-has-children.active-children-big > a::after {
      background-color: #FA2B65;
      cursor: default;
   }
   .header .menu__list > li.menu-item-has-children.active-children-big .menu__sub-menu-big {
      pointer-events: all;
      opacity: 1;
      visibility: visible;
   }
   .header .menu__list > li.menu-item-has-children > a {
      position: relative;
   }
   .header .menu__list > li.menu-item-has-children > a::after {
      background-color: transparent;
      bottom: -20px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
      transition: 0.3s ease 0s;
      width: 100%;
      z-index: 10;
   }
   .header .menu__sub-list {
      background-color: #4E3F84;
      left: calc(50% - 100px);
      min-width: 13.5rem;
      position: absolute;
      left: -20px;
      top: calc(100% - 3px);
      z-index: 10;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 5px;
      min-width: 160px;
      opacity: 0;
      visibility: hidden;
      transform-origin: 50% -50px;
      transform: perspective(400px) rotateX(-10deg);
      transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
      border-radius: 0 0 0.35rem 0.35rem;
      box-shadow: 0 20px 32px -8px rgba(17, 16, 19, 0.15), 0 0 1px rgba(17, 16, 19, 0.05);
      transition-property: transform, opacity, visibility;
   }
   .header .menu__sub-list li {
      font-size: 15px;
   }
   .header .menu__sub-list li:hover {
      background-color: rgba(150, 144, 162, 0.06);
   }
   .header .menu__sub-list li:hover a {
      color: #fff !important;
   }
   .header .menu__sub-list li:hover.current-menu-item a,
   .header .menu__sub-list li:hover.current_page_item a {
      color: #FA2B65 !important;
   }
   .header .menu__sub-list li a {
      display: block;
      padding: 8px 20px;
   }
   .header .menu-item-has-children-big {
      position: static !important;
   }
   .header .menu__sub-menu-big {
      height: 663px;
      left: 0;
      position: absolute;
      right: 0;
      top: 48px;
   }
}
 
@media (min-width: 1100px) and (any-hover: hover) {

   .header .menu__list li:hover {
      color: #FA2B65;
   }
   .header .menu__list li:hover a {
      color: inherit;
   }
   .header .menu__list li:hover .menu__arrow {
      color: inherit;
      transform: scale(1, -1);
   }
}
 
@media screen and (min-width: 1100px) and (min-width: 1281px) {

   .header .menu__sub-menu-big {
      border-radius: 0 0 24px 24px;
   }
}

@media screen and (min-width: 1580px) {

   .select {
      font-size: 20px;
      line-height: 28px;
   }
}

@media screen and (max-width: 1579.98px) {

   .select {
      font-size: 15px;
      line-height: 23px;
      left: 5px;
   }
}
 
@media screen and (max-width: 1099.98px) {

   .header .select {
      margin-right: 15px;
   }
   .menu__sub-menu-big .sub-menu-big-title {
      border-color: #fff;
      color: #fff;
   }
   .menu__sub-menu-big .sub-menu-big-title.current-menu-item,
   .menu__sub-menu-big .sub-menu-big-title.current_page_item {
      color: #fff !important;
   }
   .menu__sub-menu-big ul li {
      color: #fff !important;
   }
   .menu__sub-menu-big ul li.current-menu-item,
   .menu__sub-menu-big ul li.current_page_item {
      color: #FA2B65 !important;
      font-weight: 600;
   }
   .list-blocks li a {
      border-color: #fff;
   }
   .list-blocks__block-info h1,
   .list-blocks__block-info h2,
   .list-blocks__block-info h3,
   .list-blocks__block-info h4,
   .list-blocks__block-info h5,
   .list-blocks__block-info h6 {
      color: #fff;
   }
   .list-blocks__block-info p {
      color: #fff;
   }
   body._touch .header .menu__list > li._active .menu__sub-list {
      display: block;
   }
}
 
@media (max-width: 1099.98px) {
 
   .header .menu__body {
      background-color: #4e3f84;
      left: 0;
      height: 100vh;
      flex-wrap: nowrap;
      flex-direction: column;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      right: 0;
      transition: 0.3s;
      top: 0;
      width: 100%;
      z-index: 5;
   }
   .header .menu__body._active {
      opacity: 1;
      pointer-events: all;
   }
   .header .menu-topmenu-container {
      box-sizing: border-box;
      display: flex;
      height: calc(100dvh - 90px);
      margin-top: 90px;
      padding-bottom: 70px;
      padding-left: 33px;
      padding-right: 33px;
      overflow: auto;
   }
   .header .menu__list {
      margin-bottom: auto;
      margin-top: auto;
   }
   .header .menu__list .menu-item {
      color: #fff;
   }
   .header .menu__list .menu-item a {
      position: relative;
   }
   .header .menu__list > li {
      display: flex;
      flex-wrap: wrap;
   }
   .header .menu__list > li.current-menu-item,
   .header .menu__list > li.current_page_item {
      color: #FA2B65;
   }
   .header .menu__list > li:not(:last-child) {
      margin-bottom: 50px;
   }
   .header .menu__list > li a {
      color: inherit;
   }
   .header .menu__list li {
      color: #fff;
      font-size: 24px;
      line-height: 28px;
      width: 100%;
   }
   .header .menu__sub-list {
      align-items: center;
      display: none;
      flex: 1 1 100%;
      margin-top: 35px;
      padding-left: 20px;
      position: relative;
   }
   .header .menu__sub-list li {
      font-size: 20px;
      line-height: 28px;
   }
   .header .menu__sub-list li.current-menu-item,
   .header .menu__sub-list li.current_page_item {
      color: #FA2B65;
   }
   .header .menu__sub-list li:not(:last-child) {
      margin-bottom: 25px;
   }
   .header .menu-item-has-children-big .menu__sub-menu-big {
      display: none;
      padding-top: 35px;
   }
   .header .menu-item-has-children-big.active-children-big .menu__sub-menu-big {
      display: flex;
   }
   .header .menu__arrow {
      height: 13px;
      margin-left: 15px;
      top: 7px;
      width: 18px;
   }
   .header .menu__arrow svg {
      height: 13px;
      width: 18px;
   }
}
 
@media screen and (max-width: 1099.98px) and (max-width: 1024.98px) {

   .header .menu-topmenu-container {
      padding-left: 18px;
      padding-right: 18px;
   }
}
 
@media screen and (max-width: 1099.98px) and (max-width: 767.98px) {

   .header .menu-topmenu-container {
      height: calc(100dvh - 80px);
      margin-top: 80px;
   }
}
 
@media screen and (max-width: 1099.98px) and (max-width: 575.98px) {

   .header .menu-topmenu-container {
      padding-left: 14px;
      padding-right: 14px;
   }
}
 
@media screen and (max-width: 1099.98px) and (max-width: 800.98px) {

   .header .menu__list > li:not(:last-child) {
      margin-bottom: 40px;
   }
   .header .menu__list li {
      font-size: 22px;
      line-height: 26px;
   }
   .header .menu__sub-list {
      margin-top: 30px;
   }
   .header .menu__sub-list li {
      font-size: 20px;
      line-height: 24px;
   }
   .header .menu__arrow {
      top: 6px;
   }
}
 
@media screen and (max-width: 1099.98px) and (max-width: 660.98px) {

   .header .menu__sub-list li {
      font-size: 18px;
      line-height: 24px;
   }
   .header .menu__sub-list li:not(:last-child) {
      margin-bottom: 25px;
   }
   .header .menu-item-has-children-big .menu__arrow {
      top: 5px;
   }
   .header .menu__arrow {
      top: 7px;
   }
}
 
@media screen and (max-width: 1099.98px) and (max-width: 720.98px) {

   .header .menu-item-has-children-big .menu__sub-menu-big {
      padding-top: 0;
   }
   .header .menu-item-has-children-big.active-children-big .menu__sub-menu-big {
      display: block;
   }
}
 
@media screen and (max-width: 1024.98px) {

   .menu__sub-menu-big {
      width: 100%;
   }
   #burger {
      height: 24px;
      min-width: 35px;
      max-width: 35px;
   }
   #burger span {
      height: 4px;
      top: 10px;
   }
   #burger span:before {
      height: 4px;
      top: -10px;
   }
   #burger span:after {
      height: 4px;
      top: 10px;
   }
}
 
@media screen and (max-width: 767.98px) {
 
   .header-container {
      height: 50px;
   }
   .header__blockLogo {
      flex: 0 0 90px;
      top: 3px;
   }
   .header .select {
      min-width: 60px;
      max-width: 60px;
   }
   #burger {
      height: 20px;
      min-width: 28px;
      max-width: 28px;
      margin-left: 15px;
   }
   #burger span {
      height: 3px;
      top: 9px;
   }
   #burger span:before {
      height: 3px;
      top: -8px;
   }
   #burger span:after {
      height: 3px;
      top: 8px;
   }
}
 
@media screen and (max-width: 720.98px) {

   .menu__sub-menu-big {
      width: 100%;
   }
   .menu__sub-menu-big .sub-menu-big-title {
      margin-top: 30px;
   }
   .list-blocks {
      margin-top: 35px;
   }
}
 
@media screen and (max-width: 660.98px) {

   .header .menu .menu-topmenu-container {
      position: relative;
   }
}

@media screen and (max-width: 460.98px) {

   .menu__sub-menu-big .sub-menu-big-title {
      width: 100% !important;
   }
}
 
@media (any-hover: hover) {

   .menu__sub-menu-big ul li:hover {
      color: #fa2b65 !important;
   }
   .list-blocks li a:hover {
      background-color: rgba(191, 197, 204, 0.16);
   }
}